{% extends "base.j2" %}

{% block header %}
<a href="{{ url_for('index_landing') }}">Start</a>
<a href="{{ url_for('about') }}">About</a>
{% endblock %}

{% block main %}

<h1>
    The Poio Corpus
</h1>
<h2>
    Natural Language Processing for the Lesser-Used Languages in Europe
</h2>
<p>
The Poio Corpus is a freely available collection of language resources for the lesser-used languages in Europe. The data is extracted from free sources like Wikipedia, dictionaries, documents, websites and others. Each corpus is available for download as GrAF files (ISO 24612) for which a Python and a Java library are available to allow unified access. The goal of this project is to make the development of NLP tools for the lesser-used languages easier, or even possible in some cases. Our website features two example applications for all languages: lexical graphs to visualize semantic similarities based on the idea of <a href="http://www.puttypeg.net/papers/lexical-graphs.pdf">Widdows and Dorow (2002)</a> and an HTML text editor with statistical text prediction and automated suggestions from dictionaries. All the functionality of this website is also available via a Web API.
</p>
<p>
The Poio Corpus is a project of the Interdisciplinary Centre for Social and Language Documentation which is dedicated to the documentation and preservation of the linguistic and cultural heritage in Europe.
</p>

<h1>Coming soon...</h1>
<p>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{clear:left; font:14px; margin-left:-10px; }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://brickband.us5.list-manage.com/subscribe/post?u=0dbbf1894965f1d6e74b8728a&amp;id=9887fcd7f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Sign up here to get the latest news</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>
    <!--End mc_embed_signup-->
</p>

<!--<p>
    <ul>
        <li>Read more about the <a href="">ideas behind The Poio Corpus</a>.</li>
        <li>Read more about how to <a href="">use the GrAF corpus files in your own workflows</a>.</li>
        <li>Read more about how to <a href="">access the Web API of The Poio Corpus</a>.</li>
    </ul>
</p>-->

{% endblock %}
