{% extends "base.j2" %}


{% block main %}

<h1>
    Imprint
</h1>

<h2>Responsible for the content of this website</h2>

<p>
    Centro Interdisciplinar de Documentação Linguística e Social<br/>
    Rua Dr. António da Silva Ferreira Totta 29<br/>
    2395-182 Minde<br/>
    Portugal<br/>
</p>

<p>
    VAT ID No: PT 509271804
<p>

<p>
    Website: <a href="http://www.cidles.eu">www.cidles.eu</a>
</p>

<p>
    Contact: <a href="http://www.cidles.eu/about/team/peter-bouda/">Peter Bouda</a>
</p>

{% endblock %}
