{% extends "base.j2" %}

{% block main %}
<div style="width:1000px; height:600px;">
</div>
<div id="map" style="position:absolute; top:50px; left:0; width:1000px; height:600px;">
</div>
<div id="teaser" style="position:absolute; top:50px; left: 20px; width:360px;">

	<h1>Poio</h1>
	<h3>Technologies for language diversity</h3>
	<p style="text-align:left;">
	  Poio is a free and open source predictive text and transliteration system for lesser-used languages. We support text input for languages like Bavarian, Chechen and Sorbian on mobile phones and desktop computers. <a href="{{ url_for('about') }}">Read more about the Poio project...</a>
	</p>
</div> <!-- teaser -->

<div id="mailchimp" style="position:absolute; top:390px; left: 20px;">
	<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	  #mc_embed_signup{clear:left; font:14px; margin-left:-10px; }
	  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>
	<div id="mc_embed_signup">
	<form action="http://brickband.us5.list-manage.com/subscribe/post?u=0dbbf1894965f1d6e74b8728a&amp;id=9887fcd7f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	  <label for="mce-EMAIL">Subscribe to our monthly newsletter</label>
	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
	</div>
	<!--End mc_embed_signup-->

</div> <!-- mailchimp -->
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='media/js/libs/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='media/js/libs/queue.v1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='media/js/libs/topojson.v1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='media/js/libs/kinetic-v4.5.4.min.js') }}"></script>

	<script type="text/javascript">

    //////////////////////////////////////////////////////////////// Globals

    var land;
    var borders;
    var tooltipLayer;
    var dragStarted = false;
    var lastMouseX = -1;
    var lastMouseY = -1;
    var lastR = 0;
    var worldData;
    var projection;
    var path;
    var c;

    //////////////////////////////////////////////////////////////// Functions

    function drawLand() {
        c.beginPath();
        c.fillStyle = "#acf";
        path(land);
        c.fill();
          
        c.beginPath();
        c.strokeStyle = "#fff"; 
        c.lineWidth = .5;
        path(borders);
        c.stroke();
    }

    function drawLanguages() {
       var languages = JSON.parse('{{ languages_json }}');
       Object.keys(languages).forEach(function (key) {
            var value = languages[key]
            var centerX = projection([value.geo.lon, value.geo.lat])[0];
            var centerY = projection([value.geo.lon, value.geo.lat])[1];

            var circle = new Kinetic.Circle({
               x: centerX,
               y: centerY,
               fill: "red",
               stroke: "#330000",
               strokeWidth: 2,
               radius: 5
            });

            circle.on("mousemove", function(){
                var mousePos = stage.getMousePosition();
                tooltip.setPosition(mousePos.x + 5, mousePos.y - 20);
                tooltip.setText(value.label);
                tooltip.show();
                tooltipLayer.draw();
                document.body.style.cursor = "pointer";
            });

            circle.on("mouseout", function(){
                tooltip.hide();
                tooltipLayer.draw();
                document.body.style.cursor = "default";
            });


            circle.on("click", function(){
                window.location = '/tools/prediction/' + key
            });

            shapesLayer.add(circle);

        });

        var tooltip = new Kinetic.Text({
            text: "",
            fontFamily: "Calibri",
            fontSize: 12,
            padding: 5,
            textFill: "white",
            fill: "black",
            alpha: 0.75,
            visible: false
        });

        tooltipLayer.add(tooltip);
        shapesLayer.draw();
    }

    function makeDraggable() {
        //worldLayer.setDraggable(true);
        stage.getContainer().addEventListener('mousedown', function(e) {
            lastMouseX = e.screenX;
            lastMouseY = e.screenY;
            dragStarted = true;
            lastR = projection.rotate();
        });
        stage.getContainer().addEventListener('mouseup', function(e) {
            lastMouseX = -1;
            lastMouseY = -1;
            dragStarted = false;
        });
        stage.getContainer().addEventListener('mouseout', function(e) {
            lastMouseX = -1;
            lastMouseY = -1;
            dragStarted = false;
        });
        stage.getContainer().addEventListener('mousemove', function(e) {
            if (dragStarted) {
                var diffX = lastR[0] + ( (e.screenX - lastMouseX) / 10);
                var diffY = lastR[1] + ( (lastMouseY - e.screenY) / 10);


                projection.rotate([diffX, diffY, 0]);

                c.clearRect(0, 0, width, height);
                tooltipLayer.removeChildren();
                shapesLayer.removeChildren();
                drawLand();
                drawLanguages();
            }
        });
    }

    function transitionEnded() {
        drawLanguages();
        makeDraggable();
    }

    //////////////////////////////////////////////////////////////// Main

	var width = 1000,
	    height = 600;

	/*var canvas = d3.select("#map").append("canvas")
	    .attr("width", width)
	    .attr("height", height);*/
    var stage = new Kinetic.Stage({
      container: 'map',
      width: width,
      height: height
    });
    worldLayer = new Kinetic.Layer();
    shapesLayer = new Kinetic.Layer();
    tooltipLayer = new Kinetic.Layer();
    stage.add(worldLayer);
    stage.add(shapesLayer);
    stage.add(tooltipLayer);

	c = worldLayer.getContext();

	projection = d3.geo.orthographic()
	    .scale(250)
	    .translate([700,250])
	    .clipAngle(90)
	    .clipExtent([[0,0],[width,height]]);

	path = d3.geo.path()
	    .projection(projection)
	    .context(c);
	    
	queue()
	    .defer(d3.json, '/static/media/data/world-110m.json')
	    .await(ready);

	function ready(error, world) {
        worldData = world;
        land = topojson.feature(worldData, worldData.objects.land);
	    borders = topojson.mesh(worldData, worldData.objects.countries, function(a, b) { return a !== b; });

	    c.clearRect(0, 0, width, height);

        drawLand();

        (function transition() {
            d3.transition()
            .delay(1000)
            .duration(2500)
            .tween("rotate", function() {
                var r = d3.interpolate(projection.rotate(), [-25, -57]);
                var s = d3.interpolate(projection.scale(), 900);
                return function(t) {
                    projection.rotate(r(t));
                    projection.scale(s(t));
                    c.clearRect(0, 0, width, height);
                    drawLand();
                };
            })
            .each("end", transitionEnded)
        })();
    }

	</script>
{% endblock %}