{% extends "base.j2" %}


{% block main %}

<h1>
    Licenses
</h1>

<p>
    Poio Corpus source code is distributed under the Apache 2.0 License.
</p>

<p>
    Poio Corpus documentation is distributed under the Creative Commons Attribution 3.0 Unported.
</p>

<p>
    Poio Corpus data packages are distributed under different licenses, depending on the source of the content. Please check the LICENSE files in each of the data packages available under the menu option "Corpus" for more information.
</p>

{% endblock %}
