{% extends "base.j2" %}


{% block main %}

<h1>
    Privacy Policy
</h1>

<h2>Data Protection</h2>
<p>
    Protecting the security and privacy of your personal data is important to
    Poio; therefore, we conduct our business in compliance with applicable laws
    on data protection and data security. We hope the policy outlined below will
    help you understand what data Poio may collect, how Poio uses and
    safeguards that data and with whom we may share it.
</p>

<h2>Personal Data</h2>
<p>
    Through our websites, Poio will not collect any personal data about you
    (e.g. your name, address, telephone number or e-mail address), unless you
    voluntarily choose to provide us with it (e.g. by registration, survey), and
    expressly provide your consent - unless it is otherwise permitted by
    applicable laws and regulations for the protection of your personal data.
</p>

<h2>Purpose of Use</h2>
<p>
When you do provide us with personal data, we usually use it to respond to your
inquiry, process your order or provide you access to specific information or
offers. Also, to support our customer relationship with you:
</p>
<p>
    <ul>
        <li>
            we may store and process personal data and share it with our
            worldwide affiliates to better understand your business needs and
            how we can improve our products and services; or
        </li>
        <li>
            we (or a third party on our behalf) may use personal data to contact
            you about Poio offers relevant to your business needs or to
            conduct online surveys to better understand our customers' needs.
        </li>
    </ul>
</p>
<p>
    If you choose not to have your personal data used by Poio, (especially
    for direct marketing or market research purposes), we will respect your
    choice. We do not sell or otherwise market your personal data to third
    parties, except to Poio affiliates.
</p>

<h2>Limitations of Use</h2>
<p>
    Poio will collect, use or disclose personal data supplied by you online
    only for the purposes disclosed to you, unless the disclosure:
</p>
<p>
    <ul>
        <li>
            is a use of the personal data for any additional purpose that is
            directly related to the original purpose for which the personal data
            was collected,
        </li>
        <li>
            is necessary to prepare, negotiate and perform a contract with you,
        </li>
        <li>
            is required by law or the competent governmental or judicial
            authorities,
        </li>
        <li>
            is necessary to establish or preserve a legal claim or defense,
        </li>
        <li>
            is necessary to prevent fraud or other illegal activities, such as
            wilful attacks on Poio information technology systems.
        </li>
    </ul>
</p>

<h2>Communications or Utilization Data</h2>
<p>
    Through your use of telecommunications services to access our website, your
    communications data (e.g. Internet protocol address) or utilization data
    (e.g. information on the start and end times, and duration of each access,
    and information on the telecommunications services you accessed) are
    technically generated and could conceivably relate to personal data. To the
    extent that there is a compelling necessity, the collection, processing and
    use of your communications or utilization data will occur and will be
    performed in accordance with the applicable data protection laws.
</p>

<h2>Non-Personal Data Collected Automatically</h2>
<p>
    When you access our websites, we may automatically (i.e. not by
    registration) collect non-personal data (e.g. type of Internet browser and
    operating system used, domain name of the website from which you came,
    number of visits, average time spent on the site, pages viewed). We may use
    this data and share it with our worldwide affiliates to monitor the
    attractiveness of our websites and improve their performance or content.
</p>

<h2>Cookies</h2>
<p>
    When you view one of our websites, we may store some data on your computer
    in the form of a cookie to automatically recognize your PC next time you
    visit. Cookies can help us in many ways, for example, by allowing us to
    tailor a website to better match your interests or to store your password to
    save you having to re-enter it each time. If you do not wish to receive
    cookies, please configure your Internet browser to erase all cookies from
    your computer's hard drive, block all cookies or to display a warning before
    a cookie is stored.
</p>

<h2>Children</h2>
<p>
    Poio will not knowingly collect personal data from children without
    insisting that they seek prior parental consent if required by applicable
    law. We will only use or disclose personal data about a child to the extent
    permitted by law, to seek parental consent pursuant to local law and
    regulations or to protect a child. The definition of "child" or "children"
    should take into account applicable laws as well as national and regional
    cultural customs.
</p>

<h2>Security</h2>
<p>
    To protect your personal data against accidental or unlawful destruction,
    loss or alteration and against unauthorized disclosure or access, Poio
    uses technical and organizational security measures.
</p>

<h2>Links to Other websites</h2>
<p>
    Poio websites contain links to other websites. Poio is not
    responsible for the privacy practices or the content of other websites.
</p>

<h2>Questions and Comments</h2>
<p>
    Poio will respond to reasonable requests to review your personal data
    and to amend or delete any inaccuracies. If you have any questions or
    comments about the Poio Data Privacy Protection Policy (e.g. to review
    and update your personal data), please write us a mail to
    <a href="mailto:pbouda@cidles.eu">pbouda@cidles.eu</a>. As the
    Internet develops, so will our Data Protection Policy. Please check this
    page regularly to keep up-to-date.
</p>

{% endblock %}
