{% extends "base.j2" %}

{% block main %}

<h1>
    Text prediction
</h1>

<!--<p>
    <form>
        <input type="text" name="search" />
        <input type="submit" name="submit" value="Search Languages" />
    </form>
</p>-->

<p>
    <strong>Choose a language:</strong>
    <ul>
        {% for l in languages_prediction %}
        <li><a href="{{ url_for('tools_prediction', iso=l) }}">{{ languages_data[l]['label'] }} ({{ l }})</a></li>
        {% endfor %}
    </ul>
</p>

<h1>
    Semantic maps
</h1>

<!--<p>
    <form>
        <input type="text" name="search" />
        <input type="submit" name="submit" value="Search Languages" />
    </form>
</p>-->

<p>
    <strong>Choose a language:</strong>
    <ul>
        {% for l in languages_semantics %}
        <li><a href="{{ url_for('tools_semantics', iso=l) }}">{{ languages_data[l]['label'] }} ({{ l }})</a></li>
        {% endfor %}
    </ul>
</p>

{% endblock %}
