.DS_STORE
*.pyc
.idea
dist/
doc/_build/
*-pages-articles.xml.bz2
extracted/

site/flask-app/.installed.cfg
site/flask-app/bin/
site/flask-app/develop-eggs/
site/flask-app/eggs/
site/flask-app/parts/
site/flask-app/src/main.egg-info/
site/flask-app/var/
wikipedia/barwiki/barwiki-20130813-doc.xml
wikipedia/barwiki/barwiki-20130813.hdr
wikipedia/barwiki/barwiki-20130813.txt
wikipedia/barwiki/barwiki.xml
wikipedia/barwiki/barwiki_cleaned1.xml
wikipedia/barwiki/barwiki_cleaned2.xml
wikipedia/barwiki/barwiki_cleaned3.xml
