{% extends "mobile/base.j2" %}

{% block title %}
    <h3>
        About Poio
    </h3>
{% endblock %}

{% block main %}
<h1>
    Poio
</h1>
<h2>
    Technologies for Language Diversity
</h2>
<p>
  Poio is a free and open source predictive text and transliteration system for lesser-used languages. We support text input for languages like Bavarian, Chechen and Sorbian on mobile phones and desktop computers.
</p>
<p>
The Poio Corpus is a freely available collection of language resources for the lesser-used languages. The data is extracted from free sources like Wikipedia, dictionaries, documents, websites and others. Each corpus is available for download as GrAF files (ISO 24612) for which a Python and a Java library are available to allow unified access. The goal of this project is to make the development of NLP tools for the lesser-used languages easier, or even possible in some cases.
</p>
<p>
The Poio Corpus is a project of the <a href="http://www.cidles.eu">Interdisciplinary Centre for Social and Language Documentation</a> which is dedicated to the documentation and preservation of the linguistic and cultural heritage in Europe.
</p>

<p>
    <!-- Begin MailChimp Signup Form -->
    <!--<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>-->
    <div id="mc_embed_signup">
    <form action="http://brickband.us5.list-manage.com/subscribe/post?u=0dbbf1894965f1d6e74b8728a&amp;id=9887fcd7f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL" style="font-weight:bold;">Subscribe to our mailing list</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->

    <!-- Begin MailChimp Signup Form -->
    <!--<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{ }
      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
    <form action="http://brickband.us5.list-manage.com/subscribe/post?u=0dbbf1894965f1d6e74b8728a&amp;id=9887fcd7f4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <label for="mce-EMAIL">Sign up here to get the latest news</label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>-->
    <!--End mc_embed_signup-->
</p>
{% endblock %}