<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  
  
  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  
  <!-- Extra Codiqa features -->
  <link rel="stylesheet" href="{{ url_for('static', filename='media/css/mobile/codiqa.ext.css') }}">
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>

  {% block css %}
  {% endblock css %}
   
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">

    <!--<select id="selectmenu1" name="">
        <option value="writetyper">
        Poio Writetyper
        </option>
        <option value="wordmap">
        Poio Word Map
        </option>
        <option value="about">
        About
        </option>
        <option value="contact">
        Contact
        </option>
        <option value="desktop">
        View desktop version
        </option>
    </select>-->

        {% block title %}
        {% endblock %}

        <a href="#popupMenu" data-rel="popup" data-role="button" data-inline="true" data-transition="pop">Menu</a>
        <div data-role="popup" id="popupMenu">
            <ul data-role="listview" data-divider-theme="b" data-inset="true">
                <li data-theme="c">
                    <a href="{{ url_for('index') }}">Languages</a>
                </li>
                <li data-theme="c">
                    <a href="{{ url_for('about') }}">About</a>
                </li>
                <li data-theme="c">
                    <a href="mailto:pbouda@cidles.eu">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div data-role="content">
    {% block main %}
    {% endblock %}
    </div>
</div>

{% block scripts %}
{% endblock scripts %}

</body>
</html>
