* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration:inherit;
    font-size: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

table {
    border-collapse: collapse;
}

:focus {
    outline: 0;
}

::-moz-focus-inner {
    border: 0;
}

/* clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}


* html .clearfix {
    height: 1%;
}

body{
    font-family: 'Open Sans', Verdana, Arial, sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

h1,h2 {
  font-family: 'Archivo Black', sans-serif;
  color: #777;
  margin-bottom: 0.7em;
  margin-top: 1.0em;
}

h1 {
  font-size:36px;
}

h2 {
  font-size:20px;
}

h3 {
  font-size:18px;
  font-weight: bold;
  margin-bottom: 1em;
}

div, p {
  color: #777;
  margin-bottom: 0.7em;
}

b {
  font-weight: 700;
}

ul {
  margin-left: 15px;
}

input {
  border: 1px solid #777;  
}

textarea {
  border: 1px solid #777;  
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  font-weight: bold;      
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:#777}
a:hover{color:inherit}

#body {
  width:1000px;
}

#header {
  margin-top:10px;
  left:0;
  width:100%;
  text-align: right;
}

#main {
  margin-left:20px;
  margin-bottom:20px;
  width:600px;
}

#main p {
  text-align: justify;  
}

div#footer {
  font-size:12px;
  margin-top:50px;
  width:100%;
  text-align:center;  
  /*border-top: 1px dotted black;*/
}

div#footer a {
  margin-right: 30px;
}

div#header a {
  margin-right: 30px;
  font-size:20px;
}

ul {
  list-style-position: inside;
}