/* Put your custom CSS here */

textarea.ui-input-text {
    height: 100px;
}

div#predictor {
    white-space: nowrap;
    /*overflow: hidden;*/
    border-top: 1px solid #aaa;
    padding-top: 5px;
}

span.predicted-word {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2em;
}
